
<div class="jumbotron">
    <div class="container">
        <h2>Reverse Uppercase - Filter</h2>
        <p>
            <input ng-model="greeting" type="text"><br>
            No filter: {{greeting}}<br>
            Reverse: {{greeting|reverseUppercase}}<br>
            Reverse + uppercase: {{greeting|reverseUppercase:true}}<br>


            <br><br>
            Reverse와 Uppercase를 가지고 간단하게 Filter를 만들어 보았다.
            <br>
            사용하는 방법도 아주 간단하기 때문에 소스를 보고 바로 응용이 가능하리라 생각한다.

        </p>
    </div>
</div>